@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #333333;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
}

h1, h2 {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

#product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#product-table th, #product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#product-table th {
  color: #333333;
  background-color: #f2f2f2;
}

#product-table tr:hover {
  background-color: #ddd;
}

#list-products {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

#list-products:hover {
  background-color: #0056b3;
}

.product-buttons button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 5px;
}

.update {
  background-color: #4CAF50;
  color: white;
}

.delete {
  background-color: #f44336;
  color: white;
}

.update:hover {
  background-color: #45a049;
}

.delete:hover {
  background-color: #d32f2f;
}

form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none; 
  -moz-appearance: textfield;
}